<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DataOperations" version="2.0.17179.1" targetFramework="net47" />
  <package id="Microsoft.Enterprise.Library" version="4.1.0.0" targetFramework="net47" />
  <package id="Security.Authorization.Claims" version="1.0.0.0" targetFramework="net47" />
  <package id="ShowCaseUtil" version="2.0.17241.1" targetFramework="net47" />
</packages>